
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang đăng ký</h2>
<p>
    Chào mừng các bạn đến với trang đăng ký tài khoản Sinh viên 5 tốt
    <br />
    @Html.ActionLink("Đăng ký", "TaoTaikhoan")

</p>

